/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-c95300x0y1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-c95300x0y1] {
    flex: 1;
}

.sidebar[b-c95300x0y1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-c95300x0y1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-c95300x0y1]  a, .top-row[b-c95300x0y1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-c95300x0y1]  a:hover, .top-row[b-c95300x0y1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-c95300x0y1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-c95300x0y1] {
        display: none;
    }

    .top-row.auth[b-c95300x0y1] {
        justify-content: space-between;
    }

    .top-row[b-c95300x0y1]  a, .top-row[b-c95300x0y1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-c95300x0y1] {
        flex-direction: row;
    }

    .sidebar[b-c95300x0y1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-c95300x0y1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-c95300x0y1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-c95300x0y1], article[b-c95300x0y1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-k99y71lnee] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-k99y71lnee] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-k99y71lnee] {
    font-size: 1.1rem;
}

.oi[b-k99y71lnee] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-k99y71lnee] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-k99y71lnee] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-k99y71lnee] {
        padding-bottom: 1rem;
    }

    .nav-item[b-k99y71lnee]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-k99y71lnee]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-k99y71lnee]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-k99y71lnee] {
        display: none;
    }

    .collapse[b-k99y71lnee] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-k99y71lnee] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/WaitingComponent.razor.rz.scp.css */
.loading__modal[b-kx1u2l9s2d]{
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color:white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.rotating-svg[b-kx1u2l9s2d] {
    animation: rotateAnimation-b-kx1u2l9s2d 5s linear infinite;
    transform-origin: center;
}
.loading__mensage[b-kx1u2l9s2d]{
    position:relative;
}
.loading__mensage[b-kx1u2l9s2d]::after {
    content: "";

    animation: loadingDots-b-kx1u2l9s2d 1s infinite;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

@keyframes loadingDots-b-kx1u2l9s2d {
    0%, 20% {
        content: ".";
    }

    40% {
        content: "..";
    }

    60% {
        content: "...";
    }

    80%, 100% {
        content: "";
    }
}
@keyframes rotateAnimation-b-kx1u2l9s2d {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
